:root {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#body {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid gray;
}

#bigContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    height: 100%;
    margin: 1rem;
    gap: 5vh;
}

#greetingContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#greeting {
    font-size: 2rem;
}

#boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
    scroll-snap-type: x mandatory;
}

#controls {
    background-color: blueviolet;
}

#footer {
 display: flex;
 justify-content: center;
 align-items: flex-end;
 height: 5vh;
}

.M {
    background-color: rgb(200, 207, 214);
}

.H {
    background-color: rgb(218, 110, 110);
}

.S {
    background-color: brown;
}

.B {
    background-color: rgb(93, 111, 122);
}

.selected {
    background-color: gray;
}

.boards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boatContainerArray {
    display: flex;
    box-sizing: border-box;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.boatSelectionContainer {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.spaceDiv {
    box-sizing: border-box;
}

.boatSelectionSpace {
    flex-shrink: 0;
    box-sizing: border-box;
}

.boardRow {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {

    #header {
        font-size: 3rem;
    }

    .boards {
        height: 30rem;
        width: 45rem;
        margin: 2rem calc(50vw - 25rem);
        gap: 1rem;
    }

    .boards:empty {
        width: 0;
        margin: 2rem -2rem;

    }

    .playerNames {
        font-size: 2rem;
    }

    .spaceDiv {
        height: 3rem;
        width: 4.5rem;
        border-right: 1px solid rgb(125, 145, 156);
    }

    .spaceDiv:last-child {
        border-right: 0;
    }

    .spaceDiv:hover {
        background-color: aliceblue;
    }

    .boardRow {
        display: flex;
        border-bottom: 1.5px solid rgb(125, 145, 156);
        border-left: 1.5px solid rgb(125, 145, 156);
        border-right: 1.5px solid rgb(125, 145, 156);
    }

    .boatSelectionSpace {
        height: 3.09rem;
        width: 4.49rem;
        border-right: 1px solid blue;
        border-bottom: 1.5px solid blue;
        border-top: 1.5px solid blue;
    }

    .boardRow:first-child {
        border-top: 1.5px solid rgb(125, 145, 156);
    }

    .boatContainerArray:first-child {
        border-left: 1.5px solid blue;
    }

    #controls {
        height: 5rem;
        width: 60rem;
        margin: 0 auto;
    }

    .opponentOption {
        padding: .5rem 1rem;
    }

    .opponentOption:hover {
        background-color: rgb(199, 204, 208);
        border-radius: 4px;
    }

    .selected:hover {
        background-color: gray;
    }

    #boatSelection {
        display: flex;;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.25rem;
    }

    button {
        width: 250px;
        margin: auto;
    }
}

@media screen and (min-width: 600px) {

    #header {
        font-size: 3rem;
    }

    .boards {
        height: 30rem;
        width: 45rem;
        margin: 2rem calc(50vw - 25rem);
        gap: 1rem;
    }

    .boards:empty {
        width: 0;
        margin: 2rem -2rem;

    }

    .playerNames {
        font-size: 2rem;
    }

    .spaceDiv {
        height: 3rem;
        width: 4.5rem;
        border-right: 1px solid rgb(125, 145, 156);
    }

    .spaceDiv:last-child {
        border-right: 0;
    }

    .spaceDiv:hover {
        background-color: aliceblue;
    }

    .boardRow {
        display: flex;
        border-bottom: 1.5px solid rgb(125, 145, 156);
        border-left: 1.5px solid rgb(125, 145, 156);
        border-right: 1.5px solid rgb(125, 145, 156);
    }

    .boatSelectionSpace {
        height: 3.09rem;
        width: 4.49rem;
        border-right: 1px solid blue;
        border-bottom: 1.5px solid blue;
        border-top: 1.5px solid blue;
    }

    .boardRow:first-child {
        border-top: 1.5px solid rgb(125, 145, 156);
    }

    .boatContainerArray:first-child {
        border-left: 1.5px solid blue;
    }

    #controls {
        height: 5rem;
        width: 60rem;
        margin: 0 auto;
    }

    .opponentOption {
        padding: .5rem 1rem;
    }

    .opponentOption:hover {
        background-color: rgb(199, 204, 208);
        border-radius: 4px;
    }

    .selected:hover {
        background-color: gray;
    }

    #boatSelection {
        display: flex;;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.25rem;
    }

    button {
        width: 250px;
        margin: auto;
        border-radius: 6px;
        border: 1px solid black;
    }

    .boardCover {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        top: -31.25rem;
        background-color: rgb(216 217 227);
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
    }

    .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
    }

}