:root {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid gray;
}

#contentContainer {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}

#greetingContainer {
    margin: 0 auto;
}

#greeting {
    font-size: 2rem;
}

#boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

/* #playerBoard {
    background-color: aqua;
} */

/* #opponentBoard {
    background-color: blue;
} */

#controls {
    background-color: blueviolet;
}

#footer {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 5vh;
}

.M {
    background-color: rgb(200, 207, 214);
}

.H {
    background-color: rgb(218, 110, 110);
}

.S {
    background-color: brown;
}

.B {
    background-color: aquamarine;
}

@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) {

    #header {
        font-size: 3rem;
    }

    .boards {
        height: 30rem;
        width: 50rem;
        margin: 2rem calc(50vw - 25rem);
    }

    .spaceDiv {
        height: 3rem;
        width: 5rem;
        border-right: 1px solid blue;
    }

    .spaceDiv:last-child {
        border-right: 0;
    }

    .spaceDiv:hover {
        background-color: aliceblue;
    }

    .boardRow {
        display: flex;
        border-bottom: 1.25px solid blue;
        border-left: 1.25px solid blue;
        border-right: 1.25px solid blue;
    }

    .boardRow:first-child {
        border-top: 1.25px solid blue;
    }



    #controls {
        height: 5rem;
        width: 60rem;
        margin: 0 auto;
    }

    .opponentOption {
        padding: .5rem 1rem;
    }

    .opponentOption:hover {
        background-color: rgb(199, 204, 208);
        border-radius: 4px;
    }

}